@{
    ViewData["Title"] = "Sorry about that!";
}

<div class="text-center">
    <h1 class="display-4">The page you looking for doesn't exist.</h1>
    <p>Go back to <a href="/Home">home page</a>.</p>
</div>
