@{
    ViewData["Title"] = "Feedback page";
}
<h1>@ViewData["Title"]</h1>

<h1>Qual papel da camada de Domain ?</h1>
<p style="font: monospace">R: some answer </p>
<br>

<h1>Qual papel da camada de Infrastructure ?</h1>
<p style="font: monospace">R: some answer </p>
<br>

<h1>Qual papel da camada de WebApp ?</h1>
<p style="font: monospace">R: some answer </p>
<br>

<h1>Faça um resumo de como funciona a comunicação entre as camadas e qual é suas hierarquias.</h1>
<p style="font: monospace">R: some answer </p>
<br>

<h1>Aponte um item negativo sobre o projeto que julgar necessário.</h1>
<p style="font: monospace">R: some answer </p>
<br>
